*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


img{
    max-width: 100%;
    display: block;
    cursor: pointer;
}
h1{
    padding: 30px;
    max-width: 300px;
    margin: 10px auto;
    background: #f7f7f7;
}
#galeria{
    max-width: 620px;
    padding: 0px 30px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
#galeria div:nth-child(1){
    grid-column: span 2;
}
